@model IEnumerable<Annety.Categories>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-bottom:0.8em; padding-top:0.8em;">Categories:</h2>

<div class="col-md-10">
 <p class="col-md-10">@Html.ActionLink("New Category", "Create")</p> 
 <p class="col-md-10">@Html.ActionLink("Back to Manage Page", "Manage", "Home") </p> 
</div>
<table class="table">
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Boys/Girls
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @{ var Parent = "Boys";

                if (item.ParentCategory == true)
                {
                   Parent = "Boys";
                }
                else
                {
                   Parent = "Girls";
                }
            }

            @Html.DisplayName(Parent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryCode })
        </td>
    </tr>
}

</table>
